
.homeLogo{
  font-family: 'Fugaz One', cursive;
  font-size: 50pt; 

}

.homeContent {
  float: right; 
  text-align: right; 
}



.navLogo{
  font-family: 'Fugaz One', cursive;
  font-size: 20pt; 
  margin-top: 5px;
  margin-left: 13px; 
  color: rgb(252, 0, 168); 

}

h1 {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}